*.lo
*.log
*.o
*.tar.gz
*.trs
*~
.DS_Store
.deps
.dirstamp
.gdb_history
.gdbinit
.libs
INSTALL
Makefile
Makefile.in
README
TAGS
aclocal.m4
autom4te.cache
build
config.status
configure
example
libsv.la
libtool
setup.sh
stamp-h*
sv2c
sv_config.h
sv_config.h.in
svtest
